.navbar{
    background-color:red !important;
}
.nav-link{
    color: white !important;
    font-weight: bold;
    margin-left: 30px;
}
.slogan{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.nav-link{
    font-size: 20px;
}
.intro{
    text-align: justify;
}
.footer{
    background-color: black;
    color: white;
}

.fa-globe{
color: skyblue;
} 
.fa-phone{
color: green;
}
.fa-whatsapp{
color: greenyellow;
}
.foot{
    background-color: red; 
}
@media only screen and (max-width:600px){
    #g{
        text-align: center;
        justify-content: center;
    }
    .texty{
        columns: 10;
    }
    .card{
        justify-content: center !important;
        margin-left: 70px;
    }
}

.inline{
    background-color:white;
    margin:10px 10px 10px 10px;
    box-shadow: 3px 3px 20px red;
    color:black;
    width: 250px;
    height: 500opx;
    display: inline-block;
}
.fa-cutlery, .fa-thumbs-up, .fa-calendar-o, .fa-truck{
    color: red;
}
.card-img-top{
    width:100%;
    height:200px;
}
.burgers{
    background-color: red !important;
}
#bburgers{
    width:100%;
    background-color: black;
    color: white;
}
.card-title1{
    color: white;
    text-shadow: 1px 2px 3px grey;
}
.name{
    text-align: center;
    color: red;
    font-size: 30px;
    text-shadow: 1px 2px 5px grey;
    font-weight: bold;
}
}
#con{
    justify-content: center;
    text-align: center;
}
.sign{
    background-color: red;
    color:white;
}
#sign{
text-align: right !important;
}
.querry{
    color: red;
    text-shadow: 1px 2px 5px grey;
    font-weight: bold;
    font-size: 55px;
}
.special{
    color: red;
    text-shadow:  1px 2px 3px grey;
    font-size: 30px;
    font-weight: bold;
}
h4{
    text-align: justify;
}
strong{
    color: yellow;
    text-shadow:  1px 2px 3px red;
    font-weight: bold;
}
.orderfood{
    width: 100%;
    background-color: red;
    color: white;
}
.intro{
    text-align: justify;
}
.display{
    display: inline-block;
}
